@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    
}

body {
    /* background-color: rgb(138, 136, 136); */    
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: rgb(42, 167, 224);
    width: 100%;
    height: 50px;       
    position: relative;
}

.links  {
    display: inline;
}

.links img{
    height: 50px;
}

.links .logo{
    position: absolute;
    width: 100%;
}

.links .adminlink {
    right: 10px;
    position: absolute;
    color: white;
    bottom: 0px;
}


.links a:hover {
    color: rgb(236, 236, 26);
    font-weight: bold;
    text-decoration: none;
}

.editrow {
    display: block;
    width: 50%;
    margin: auto;
}

.editrowlogin {
    display: block;
    width: 30%;
    margin: auto;
    background-color: rgb(42, 167, 224);
    padding: 2em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.bookheight {
    height: 50vh;    
    overflow-y: auto;
    background-color: rgb(55, 186, 247);
    border-radius: 20px;
    padding: 0.5em;
}

.books {
    margin: 10px;
}

.book {
    color: white;
    padding: 5px;
    text-align: center;
    
}

.book .bg-secondary{
    padding: 5px 0px;
}

.book .bg-secondary p{
    padding: 0px 10px;
}

.book img {
    display: block;
    margin: auto;
    width: 100px;
    height: 150px;
    border-radius: 20px;
}

.space {
    height: 2rem;
}

.adicionar a{
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
}

.adicionar a:hover{
    color: white;
}

.deledit button{
  
    color: white;
    padding: 3px;
    border-radius: 10px;
    font-weight: bolder;    
}

.deledit form{
display: inline-block;
}

.deledit {
    padding-top: 5px;
}

.deledit a:hover{
    color: white;
}